<ons-page id="10days">
    <div id="progress-bar" class="progress-bar progress-bar--material progress-bar--indeterminate"></div>  
    
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">10 Day Forecast</div>

      </ons-toolbar>
      <ons-card >
        <div id="imgContainer"></div>
        <div class="title" id="cityName">Empty</div>
        <div class="content">
          <ons-row>
            
            <ons-col width="100px">Date</ons-col>
            <ons-col width="60px">Temp</ons-col>
            <ons-col>Humidity</ons-col>
            <ons-col>Wind Speed</ons-col>
          </ons-row>
          <ons-row id="tableDays">
            
            <ons-col width="100px">dd/mm/hr</ons-col>
            <ons-col width="60px">°C</ons-col>
            <ons-col>%</ons-col>
            <ons-col>m/s</ons-col>
          </ons-row>
        </div>
      </ons-card>
          
  </ons-page>