<ons-page id="hour">
  <div id="progress-bar" class="progress-bar progress-bar--material progress-bar--indeterminate"></div>  
  
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Hourly Forecast</div>
      <div class="right"><ons-toolbar-button id="nextBtn1">Next</ons-toolbar-button></div>
    </ons-toolbar>
    <ons-card >
      <div id="imgContainer"></div>
      <div class="title" id="cityName">Empty</div>
      <div class="content">
        <ons-row>
          
          <ons-col width="100px">Date</ons-col>
          <ons-col width="60px">Temp</ons-col>
          <ons-col>Humidity</ons-col>
          <ons-col>Wind Speed</ons-col>
        </ons-row>
        <ons-row id="tableHourly">
          
          <ons-col width="100px">dd/mm/hr</ons-col>
          <ons-col width="60px">°C</ons-col>
          <ons-col>%</ons-col>
          <ons-col>m/s</ons-col>
        </ons-row>


        
      </div>
    </ons-card>
        
</ons-page>

